body {
  margin: 0;
  background: #F2F2F2;
  font-family:'Reem Kufi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {

  font-family:'Reem Kufi', sans-serif;
}

button {
  font-family:'Reem Kufi', sans-serif;
}

input{
  font-family:'Reem Kufi', sans-serif;
}

textarea{
  font-family:'Reem Kufi', sans-serif;
}
