body {
  margin: 0;
  background: #F2F2F2;
  overflow: hidden;
  font-family:'Reem Kufi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {

  font-family:'Reem Kufi', sans-serif;
}
